x-common: &common
  depends_on: ["backend"]
  healthcheck:
    test: wget --no-verbose --spider http://localhost:3000
    interval: 15s
    retries: 5
    timeout: 5s
    start_period: 10s
  restart: always

services:
  backend:
    container_name: backend
    entrypoint: sh -c "npm ci && npm run start"
    environment:
      CHES_CLIENT_ID: ${CHES_CLIENT_ID:-09C5071A-ACE9B6FACF6}
      CHES_CLIENT_SECRET: ${CHES_CLIENT_SECRET}
      CHES_TOKEN_URL: ${CHES_TOKEN_URL:-https://test.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token}
      S3_ACCESSKEY: ${S3_ACCESSKEY:-nr-fsa-tst}
      S3_BUCKETNAME: ${S3_BUCKETNAME:-tivpth}
      S3_ENDPOINT: ${S3_ENDPOINT:-nrs.objectstore.gov.bc.ca}
      S3_SECRETKEY: ${S3_SECRETKEY}
      FRONTEND_URL: ${FRONTEND_URL:-http://localhost:3000}
    healthcheck:
      test: timeout 10s bash -c 'true > /dev/tcp/127.0.0.1/5000'
      interval: 15s
      retries: 5
      start_period: 10s
      timeout: 5s
    image: node:24.11.0-bookworm-slim
    ports: ["5000:5000"]
    restart: always
    volumes: ["./backend:/app", "/app/node_modules"]
    working_dir: "/app"

  frontend:
    container_name: frontend
    profiles: [frontend]
    entrypoint: sh -c "npm ci && npm run start"
    environment:
      VITE_MAIN_VERSION: ${VITE_MAIN_VERSION:-1.0.0}
      VITE_COGNITO_REGION: ${VITE_COGNITO_REGION:-ca-central-1}
      VITE_USER_POOLS_ID: ${VITE_USER_POOLS_ID:-ca-central-1_t2HSZBHur}
      VITE_USER_POOLS_WEB_CLIENT_ID: ${VITE_USER_POOLS_WEB_CLIENT_ID}
      VITE_AWS_DOMAIN: ${VITE_AWS_DOMAIN:-prod-fam-user-pool-domain.auth.ca-central-1.amazoncognito.com}
      VITE_ZONE: ${VITE_ZONE:-DEV}
    image: node:24.11.0-bookworm-slim
    ports: ["3000:3000"]
    volumes: ["./frontend:/app", "/app/node_modules"]
    working_dir: "/app"
    <<: *common

  caddy:
    container_name: caddy
    profiles: [caddy]
    build: ./frontend
    environment:
      BACKEND_SERVICE_URL: http://backend:5000
      VITE_MAIN_VERSION: ${VITE_MAIN_VERSION:-1.0.0}
      VITE_COGNITO_REGION: ${VITE_COGNITO_REGION:-ca-central-1}
      VITE_USER_POOLS_ID: ${VITE_USER_POOLS_ID:-ca-central-1_t2HSZBHur}
      VITE_USER_POOLS_WEB_CLIENT_ID: ${VITE_USER_POOLS_WEB_CLIENT_ID}
      VITE_AWS_DOMAIN: ${VITE_AWS_DOMAIN:-prod-fam-user-pool-domain.auth.ca-central-1.amazoncognito.com}
      VITE_ZONE: ${VITE_ZONE:-DEV}
      VITE_BACKEND_URL: ""
    ports: ["3000:3000"]
    volumes: ["./frontend/Caddyfile:/etc/caddy/Caddyfile"]
    <<: *common
