name: Analysis

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  schedule:
    - cron: "0 11 * * 0" # 3 AM PST = 12 PM UDT, Sundays
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codeql:
    name: CodeQL
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: github/codeql-action/init@v4
        with:
          languages: javascript

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:javascript"

  # https://github.com/marketplace/actions/aqua-security-trivy
  trivy:
    name: Trivy Security Scan
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          format: "sarif"
          output: "trivy-results.sarif"
          ignore-unfixed: true
          scan-type: "fs"
          scanners: "vuln,secret,config"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results.sarif"

  tests:
    name: Tests
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    strategy:
      matrix:
        dir: [backend, frontend]
        include:
          - dir: backend
            sonar_projectKey: nr-results-exam-backend
            token: SONAR_BACKEND
            sonar_args: >
              -Dsonar.sources=.
            triggers: ('backend/')
          - dir: frontend
            sonar_projectKey: nr-results-exam-frontend
            token: SONAR_FRONTEND
            sonar_args: >
              -Dsonar.sources=src
            triggers: ('frontend/')
    steps:
      - uses: bcgov/action-test-and-analyse@v1.4.0
        with:
          commands: |
            npm ci
            npm run lint
            npm run test:coverage
          dir: ${{ matrix.dir }}
          node_version: "22"
          sonar_args: >
            -Dsonar.exclusions=src/__test__/**,src/amplifyconfiguration.*,src/**/*.scss,src/**/*.css,src/**/*.d.*,src/setupTests.*
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=${{ matrix.sonar_projectKey }}
            ${{ matrix.sonar_args }}
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.typescript.tsconfigPaths=tsconfig.json
            -Dsonar.tests=src/__test__/
            -Dsonar.project.monorepo.enabled=true
          # sonar_token: ${{ secrets[matrix.token] }}
          triggers: ${{ matrix.triggers }}

  results:
    name: Analysis Results
    if: always() && !failure()
    # Include all needs that could have failures!
    needs: [codeql, trivy, tests]
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Workflow completed successfully!"
