name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - ".github/**"
  workflow_dispatch:

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  vars:
    name: Variables
    outputs:
      pr: ${{ steps.pr.outputs.pr }}
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      contents: read
      pull-requests: read
    steps:
      # Get PR number for squash merges to main
      - name: PR Number
        id: pr
        uses: bcgov/action-get-pr@v0.0.1

  deploys-test:
    name: Deploys (TEST)
    needs: [vars]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
      oc_token: ${{ secrets.OC_TOKEN }}
      s3_secretkey: ${{ secrets.S3_SECRETKEY }}
    with:
      environment: test
      tag: ${{ needs.vars.outputs.pr }}
      zone: test
      redirect_url: results-exam-test.apps.silver.devops.gov.bc.ca
      frontend_url: https://nr-results-exam-test-frontend.apps.silver.devops.gov.bc.ca

  deploys-prod:
    name: Deploys (PROD)
    needs: [vars, deploys-test]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
      oc_token: ${{ secrets.OC_TOKEN }}
      s3_secretkey: ${{ secrets.S3_SECRETKEY }}
    with:
      environment: prod
      tag: ${{ needs.vars.outputs.pr }}
      zone: prod
      redirect_url: results-exam.apps.silver.devops.gov.bc.ca
      frontend_url: https://nr-results-exam-prod-frontend.apps.silver.devops.gov.bc.ca

  image-promotions:
    name: Promote images
    needs: [vars, deploys-prod]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        component: [backend, frontend]
    timeout-minutes: 1
    steps:
      - uses: shrink/actions-docker-registry-tag@v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.component }}
          target: ${{ needs.vars.outputs.pr }}
          tags: prod
