name: ZAP Penetration Tests

on:
  schedule: [cron: "0 11 * * 6"] # 3 AM PST = 12 PM UDT, Saturdays
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  zap_scan:
    runs-on: ubuntu-24.04
    name: ZAP Tests
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          allow_issue_writing: true
          artifact_name: "zap"
          cmd_options: "-a"
          issue_title: "ZAP Penetration Test"
          target: "https://results-exam-test.apps.silver.devops.gov.bc.ca"
