name: PR

on:
  pull_request:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    permissions:
      attestations: write
      id-token: write
      packages: write
    strategy:
      matrix:
        package: [backend, frontend]
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@v4.2.1
        with:
          package: ${{ matrix.package }}
          tags: ${{ github.event.number }}
          tag_fallback: latest

  vars:
    name: Variables
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    outputs:
      hostname: ${{ steps.url.outputs.hostname }}
      redirect_url: ${{ steps.url.outputs.redirect_url }}
    steps:
      - name: Calculate redirect_url and hostname
        id: url
        run: |
          DOMAIN="apps.silver.devops.gov.bc.ca"
          SUBDOMAIN="${{ github.event.repository.name }}-$(( ${{ github.event.number }} % 50 ))"
          echo "redirect_url=${SUBDOMAIN}-frontend.${DOMAIN}" >> $GITHUB_OUTPUT
          echo "hostname=${SUBDOMAIN}.${DOMAIN}" >> $GITHUB_OUTPUT

  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds, vars]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
      oc_token: ${{ secrets.OC_TOKEN }}
      s3_secretkey: ${{ secrets.S3_SECRETKEY }}
    with:
      tag: ${{ github.event.number }}
      zone: ${{ github.event.number }}
      redirect_url: ${{ needs.vars.outputs.redirect_url }}
      hostname: ${{ needs.vars.outputs.hostname }}

  results:
    name: PR Results
    if: always()
    needs: [builds, deploys]
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Workflow completed successfully!"
