name: PR

on:
  pull_request:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    permissions:
      attestations: write
      id-token: write
      packages: write
    strategy:
      matrix:
        package: [backend, frontend]
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@v4.2.1
        with:
          package: ${{ matrix.package }}
          tags: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.triggers }}/')

  vars:
    name: Variables
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    outputs:
      redirect_url: ${{ steps.url.outputs.redirect_url }}
    steps:
      - name: Calculate redirect_url
        id: url
        run: |
          DOMAIN="apps.silver.devops.gov.bc.ca"
          REPO="${{ github.event.repository.name }}"
          ZONE="$(( ${{ github.event.number }} % 50 ))"
          # Redirect from URL (without -frontend) - will redirect to main
          echo "redirect_url=${REPO}-${ZONE}.${DOMAIN}" >> $GITHUB_OUTPUT

  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds, vars]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
      oc_token: ${{ secrets.OC_TOKEN }}
      s3_secretkey: ${{ secrets.S3_SECRETKEY }}
    with:
      tag: ${{ github.event.number }}
      zone: ${{ github.event.number }}
      redirect_url: ${{ needs.vars.outputs.redirect_url }}
      pr_number: ${{ github.event.number }}

  results:
    name: PR Results
    if: always() && !failure()
    # Include all needs that could have failures!
    # Note: deploys now includes smoke tests
    needs: [builds, deploys]
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Workflow completed successfully!"
