name: PR Validate

on:
  pull_request:
    types: [edited, opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-edit-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  init:
    name: Initialize
    outputs:
      mod-tag: ${{ steps.mod-tag.outputs.mod-tag }}
    runs-on: ubuntu-24.04
    steps:
      - name: Get PR Number Mod 50
        id: mod-tag
        run: echo "mod-tag=$(( ${{ github.event.number }} % 50 ))" >> $GITHUB_OUTPUT

  validate:
    name: Validate PR
    needs: [init]
    permissions:
      pull-requests: write
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-validate.yml@v1.0.0
    with:
      markdown_links: |
        - [Frontend](https://${{ github.event.repository.name }}-${{ needs.init.outputs.mod-tag }}-frontend.apps.silver.devops.gov.bc.ca)
        - [Backend](https://${{ github.event.repository.name }}-${{ needs.init.outputs.mod-tag }}-frontend.apps.silver.devops.gov.bc.ca/health)

  results:
    name: Validate Results
    if: always()
    needs: [validate]
    runs-on: ubuntu-24.04
    permissions:
      issues: write
      pull-requests: write
    steps:
      - run: |
          # View results
          echo "needs.*.result: ${{ toJson(needs.*.result) }}"

      - name: Checkout for notification action
        if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        uses: actions/checkout@v5

      - name: Notify on failure
        if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        uses: ./.github/actions/workflow-failed-notification
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          workflow-name: ${{ github.workflow }}
          run-id: ${{ github.run_id }}
          run-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          failure-type: pr-validation

      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: |
          # Job failure found
          echo "At least one job has failed"
          exit 1
