name: PR Validate

on:
  pull_request:
    types: [edited, opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-edit-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  vars:
    name: Vars
    outputs:
      url: ${{ steps.url.outputs.url }}
    runs-on: ubuntu-24.04
    steps:
      - name: Get PR Number Mod 50
        id: url
        run: |
          echo "url=${{ github.event.repository.name }}-$(( ${{ github.event.number }} % 50 )).apps.silver.devops.gov.bc.ca" >> $GITHUB_OUTPUT

  validate:
    name: Validate PR
    needs: [vars]
    permissions:
      pull-requests: write
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-validate.yml@v1.0.0
    with:
      markdown_links: |
        - [Frontend](https://${{ needs.vars.vars.url }})
        - [Backend](https://${{ needs.vars.vars.url }}/health)

  results:
    name: Validate Results
    if: always()
    needs: [validate]
    runs-on: ubuntu-24.04
    steps:
      - run: |
          # View results
          echo "needs.*.result: ${{ toJson(needs.*.result) }}"

      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: |
          # Job failure found
          echo "At least one job has failed"
          exit 1
